body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f4f6f9;
    height: 100vh;

    /* CENTER EVERYTHING */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* MAIN BOX */
.container {
    width: 380px;
    background: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
}

/* INPUTS */
input {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 6px;
}

/* BUTTON */
button {
    width: 100%;
    padding: 10px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background: #0056b3;
}

/* HEADINGS */
h2 {
    text-align: center;
}
